.icon{
    height: 25px;
    margin: 0px 5px;
}

.backIcon{
    position: fixed;
    height: 40px;
    margin-top: 2%;
    margin-left: 2%;
}

.LocationImage{
    width: 100%;
}

.DetailsDisplay{
    background-color: white;
    width: 95%;
    padding-left: 10px;
    overflow: hidden;
}

.LocationPageTabs{
    width: 100%;
}
.LocationName{
    margin: -1% 0;
}

.BlueBarLocaionPage{
    background-color: #3BA8FA;
    height: 40px;
    width: 100vw;
}

.starRating{
display: inline-block;
padding-top: 10px;
/* width: 45vw; */
float: right
}

.detailsHeader{
display: inline-block;
/* width: 45vw; */
}

.DetailItem{
display: inline-block;
text-align: center;
margin: 3px;
}

.tagDescription{
    margin-top: -3%;
}

.IconContainer{
    text-align: center;
}
.modalButton{
    position: fixed;
    bottom: 10.5%;
    right: 9%;
    z-index: 10;
}

.TabPage{
    height: 19%;
    overflow: auto;
    background-color: white;
}

.ReviewTabDisplay{
    border-bottom: 3px solid lightgrey;
    margin: 10% 0;
}

.imageCut{
    overflow: hidden;
    height: 125px;
}

.LineSplitter{
    display: inline-block;
    height: 3px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: lightgray;
}

.ReviewName{
    display: inline-block;
    margin-top: 25px;
}

.RagingPageStars{
    /* display: inline-block; */
    float: right;
    margin-top: 25px;
    margin-right: 20vw;
}

.ReviewDiv{
    text-align: center;
}

.ReviewComment{
 margin-left: 10vw;
}

.ReportIssue{
    display: inline-block;
    text-align: left;
    width: 60vw;

}

.reportNameDiv{
    float: left;
    width: 40vw;
    height: 100%;
}

.ReportName{
    margin-bottom: -20px;
    padding-top: 10px;
}

.deleteReviewBtn{

}

.photoTabPics{
    /* border: 2px solid black; */
    width: 99vw;
    display: inline-block;
}

.navSpacer{
    width: 100vw;
    height: 78px;
}