.AddReportHeader{
    text-align: center;
    color: white;
    background-color: #00b9fc;
    width: 100vw;
    height: 70px;
    margin-top: -21px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.AddReportSelect{
    border: 1px solid lightslategray;
    border-radius: 5px;
    margin: auto;
}

.reportBody{
    text-align: center;
}

.ReportPageBackIcon{
    height: 30px;
    position: fixed;
    z-index: 10;
    top: 15px;
    left: 10px;
}

.ReportPageLabel{
    margin-bottom: 5px;
    font-weight: 100;
}

.ReportPageTextField{
    display: inline-block;
    width: 250px;
    margin-bottom: 40px;
}